<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.internship.cloning">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".card_SIX.ActivityResult"></activity>
        <activity android:name=".card_SIX.ActivityQuiz" />
        <activity android:name=".card_THREE.cardInnerThreeThree" />
        <activity android:name=".card_THREE.cardInnerTwoThree" />
        <activity android:name=".card_THREE.cardInnerThree" />
        <activity android:name=".card_ONE.DataActivity" />
        <activity android:name=".card_SIX.cardSix" />
        <activity android:name=".card_FIVE.cardFive" />
        <activity android:name=".card_THREE.cardThree" />
        <activity android:name=".card_FOUR.cardFour" />
        <activity android:name=".card_TWO.cardTwo" />
        <activity android:name=".card_ONE.cardOne" />
        <activity
            android:name=".splash"
            android:theme="@style/splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>